body {
  font-family: Helvetica, sans-serif;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  left: 150px;
}

.button {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 15px;
  left: 1040px;
  background-color: #063271;
  text-align: center;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  line-height: 40px;
}
