.time {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  top: 10%;
  height: 100px;
  border-top: 1px dotted #96a9c2;
}

.time-container {
  position: absolute;
  bottom: 0px;
  top: 20%; /*100px*/
  left: 5%; /*30px*/
  width: 87%; /*100px*/
  height: 100%;
}


.day-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left:12%;
  top: 15%;
  height: 105%;
  width: 80%;
  border-left: 1px solid #96a9c2;
}

.day {
  font-family: Helvetica, sans-serif;
  padding-top: 1px;
  width: 50%; /*210px*/
  text-align: center;
  font-size: 15px;
  border-right: 1px solid #96a9c2;
  border-top: 1px solid #96a9c2;
  border-bottom: 1px solid #96a9c2;
}
