.time {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  height: 36px;
  border-top: 1px dotted #96a9c2;
}

.time-container {
  position: absolute;
  bottom: 0px;
  top: 120px;
  left: 30px;
  width: 1130px;
  height: 50px;
}


.day-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 150px;
  top: 90px;
  height: 620px;
  width: 1010px;
  border-left: 1px solid #96a9c2;
}

.day {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 5px;
  width: 210px;
  text-align: center;
  font-size: 15px;
  border-right: 1px solid #96a9c2;
  border-top: 1px solid #96a9c2;
  border-bottom: 1px solid #96a9c2;
}
